<img class="app-logo" src="/assets/img/radyolo-header@2x.png" alt="Radyolo" height="40"/>
<a href="https://itunes.apple.com/us/app/radyolo/id1158542397" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
<div class="links">
  <a href="mailto:hello@radyolo.com">Contact</a>
  |
  <a href="https://www.iubenda.com/privacy-policy/8101275" target="_blank">Privacy & Policy</a>
</div>
